// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_to input.btn{
  padding:0.5%;
  font-size:110%;
  margin-top:1%;
}
