@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'colors';
@import 'settings';

/* Some general styles */

.gray_border{
  border:solid 1px $naiveGray;
}

body{
  padding:60px;
}

.metal{
  @include metalic;
}


/* General style for forms. */ 

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  //padding: 10px;
  height: auto;
  margin-bottom: 15px;
  font-size:1em;
  @include radius-7;
  
  
}


/* Generale styling forms's errors*/ 

a:hover{
  text-decoration:none;
}




.field_with_errors input{
  //color: #b94a48;
  border-color: #b94a48;
}


.field_with_errors select{
  border-color: #b94a48;
}


.field_with_errors textarea{
  border-color: #b94a48;  
}

.field_with_errors input:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

.field_with_errors select:focus{
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
  }


.field_with_errors textarea:focus{
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}


.field_with_errors label {
  color:#b94a48;
}

#alert_alert{
  padding-left:10px;
  
}


/* Override Styling btn-group */


.btn-group .btn{
  margin-right:5px;
} 

.alert-error{
  ul{
     font-size:80%; 
     li{
       margin-bottom:10px;
       line-height:110%;
     }
    }
  }
 
.alert-block{
  font-size:70%;
  line-height:110%;
}


/* LightBox */ 

.lightbox_overlay { //La copertura, sopra la quale va il container 
  
  position:absolute;
  top:40%;
  left:40%;
  height:50%;
  width:50%;
  background:black url(second_loader.gif) no-repeat scroll center center;
  border:solid 1px #c1c1c1;

}

#lightbox_container {
  
  position:absolute;
  top:50%;
  left:41%;
 
  background:transparent;
  color:#fff;
  opacity:1;
}

